<h2>Activity Description</h2>
                <p class="activity-description" data-field="description"></p>

                <div class="activity-grid">
                    <div class="activity-meta-box"> <strong>Duration</strong><div data-field="duration"></div></div>
                    <div class="activity-meta-box"> <strong>Language</strong><div data-field="languages"></div></div>
                    <div class="activity-meta-box"> <strong>Accessibility</strong><div data-field="accessibility"></div></div>
                    <div class="activity-meta-box"> <strong>Price</strong><div data-field="price"></div></div>
                </div>