<main id="main_container">
	<div id="search-container">
		<div id="bar-search-container">
			<form >
				<input type="search" placeholder="Search activity..." name="activity">
				<button type="submit">
					<i class='bx bx-search'></i>
				</button>
			</form>
		</div>
	</div>
	
	<div id="container2">
		<div class="slider-wrapper">
			<div class="slider">
				<article id="art1" class="activity"></article>
				<article id="art2" class="activity"></article>
				<article id="art3" class="activity"></article>
				<article id="art4" class="activity"></article>
			</div>

			<div class="slider-nav">
				<a href="#art1"></a>
				<a href="#art2"></a>
				<a href="#art3"></a>
				<a href="#art4"></a>
			</div>
		</div>
	</div>
</main>