<section id="payment-section" aria-label="Métodos de pago">
    <h3>Select payment method</h3>
    <div id="payment-methods">
        <button class="pm-btn" data-method="google">Google Pay</button>
        <button class="pm-btn" data-method="card">MasterCard</button>
        <button class="pm-btn" data-method="card" >Visa</button>
        <button class="pm-btn" data-method="paypal">PayPal</button>
    </div>
    <p id="pm-info">You will be redirected to the selected payment gateway.</p>
</section>