<article class="activity-card" onclick="location.href='reservation-information.html'">
    <h3 data-field="activity">Activity Name</h3>
    <div class="row"><dt>Reservation</dt><dd id="row-res-id" data-field="code"></strong></dd></div>
    <div class="row"><dt>Date</dt><dd id="row-date" data-field="date"></dd></div>
    <div class="row"><dt>Time</dt><dd id="row-time" data-field="time"></dd></div>
    <div class="row"><dt>Participants</dt><dd id="row-people" data-field="participants"></dd></div>
    <div class="row"><dt>Price</dt><dd id="row-price" data-field="price"></dd></div>
</article>