<article class="review-item">
    <div class="review-content">
        <div class="review-header">
            <div class="avatar">
                <img src="#.jpg" width="30" height="30">
                <h3 data-field="user"></h3>
            </div>
            <div id="rating" class="rating" role="img" aria-label="Calificación: 4 de 5 estrellas">
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star filled">★</span>
                <span class="star">☆</span>
            </div>
        </div>
        <p data-field="body"></p>
    </div>
</article>