<main class="container">
    <section class="page-header">
    <h1>User activities</h1>
    </section>
    <!-- Reservadas -->
    <section class="section-card" aria-labelledby="reserved-title">
        <h2 id="reserved-title">Reserved activities</h2>
        <div class="activities-list">
            <article class="activity-card" onclick="location.href='reservation-information.html'" xlu-include-file="templates/reservation-card.html"></article>
            <article class="activity-card" onclick="location.href='reservation-information.html'" xlu-include-file="templates/reservation-card.html" ></article>
            <article class="activity-card" onclick="location.href='reservation-information.html'" xlu-include-file="templates/reservation-card.html"></article>
            <article class="activity-card" onclick="location.href='reservation-information.html'" xlu-include-file="templates/reservation-card.html"></article>
        </div>
        <div class="view-more">
            <a href="#" aria-label="Ver más actividades reservadas"> View more </a>
        </div>
    </section>

    <!-- Participadas -->
    <section class="section-card" aria-labelledby="attended-title">
        <h2 id="attended-title">Attended activities</h2>
        <div class="activities-list">
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
        </div>
        <div class="view-more">
            <a href="#" aria-label="Ver más actividades participadas"> View more </a>
        </div>
    </section>

    <!-- Recomendadas -->
    <section class="section-card" aria-labelledby="recommended-title">
        <h2 id="recommended-title">Recommended activities</h2>
        <div class="activities-list">
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
            <article class="activity-card" onclick="window.location.href='activity-information.html'" xlu-include-file="templates/activity3.html"></article>
        </div>
        <div class="view-more">
            <a href="#" aria-label="Ver más actividades recomendadas"> View more </a>
        </div>
    </section>
</main>