<main class="container">
    <section class="page-header">
    <h1>User activities</h1>
    </section>
    <!-- Reservadas -->
    <section class="section-card" aria-labelledby="reserved-title">
        <header>
            <h2 id="reserved-title">Reserved activities</h2>
            <div class="colapse">
            <a class="colapseBtn" data-target="reservations" aria-label="Colapsar la vista mínima las actividades desplejagas"> Colapse </a>
            </div>
        </header>
        <div id="reservations" class="activities-list" data-content-id="reservations" data-template="templates/reservation-card.html" data-json="json/reservations.json"></div>
        <div class="view-more">
            <a class="viewMoreBtn" data-target="reservations" aria-label="Ver más actividades reservadas"> View more </a>
        </div>
    </section>

    <!-- Participadas -->
    <section class="section-card" aria-labelledby="attended-title">
        <header>
            <h2 id="attended-title">Attended activities</h2>
            <div class="colapse">
            <a class="colapseBtn" data-target="attended-activities" aria-label="Colapsar la vista mínima las actividades desplejagas"> Colapse </a>
            </div>
        </header>
        <div id="attended-activities" class="activities-list" data-content-id="activities" data-template="templates/activity3.html" data-json="json/activities.json"></div>
        <div class="view-more">
            <a class="viewMoreBtn" data-target="attended-activities" aria-label="Ver más actividades participadas"> View more </a>
        </div>
    </section>

    <!-- Recomendadas -->
    <section id="recommended-section" class="section-card" aria-labelledby="recommended-title">
        <header>
            <h2 id="recommended-title">Recommended activities</h2>
            <div class="colapse">
            <a class="colapseBtn" data-target="recommended-activities" aria-label="Colapsar la vista mínima las actividades desplejagas"> Colapse </a>
            </div>
        </header>
        <div id="recommended-activities" class="activities-list" data-content-id="activities" data-template="templates/activity3.html" data-json="json/activities.json"></div>
        <div class="view-more">
            <a class="viewMoreBtn" data-target="recommended-activities" aria-label="Ver más actividades recomendadas"> View more </a>
        </div>
    </section>
</main>