<article class="review-item">
    <div class="review-content">
        <div class="review-header">
            <div class="avatar">
                <img [src]="imageUrl" width="30" height="30">
                <h3>{{ username }}</h3>
            </div>
            <div class="rating" role="img" [attr.aria-label]="'Calificación: ' + rating + ' de 5 estrellas'">
                <span class="star" [class.filled]="i < rating" *ngFor="let star of [1,2,3,4,5]; let i = index">★</span>
            </div>
        </div>
        <p>{{ comment }}</p>
    </div>
</article>