<div class="section-card">
<header>
    <h2 id="title">{{ title }}</h2>
    
    @if (viewCount > INITIAL_VIEW_COUNT) {
      <div class="colapse">
        <a class="colapseBtn" (click)="reduceView()" aria-label="Colapsar la vista mínima las actividades desplegadas"> Collapse </a>
      </div>
    }
</header>

<div class="activities-list">
    @for (card of cards.slice(0, viewCount); track card.id) {
        @switch (card.type) {
            @case ('activity') {
                <app-activity-3 [activity]="card"></app-activity-3>
            }
            @case ('reservation') {
                <app-reservation-card 
                [reservation]="card"
                [routerLink]="['/reservation-information', card.id]"></app-reservation-card>
            }
        }
    }
</div>

@if (viewCount < cards.length) {
    <div class="view-more">
        <a class="viewMoreBtn" (click)="incrementView()" aria-label="Ver más actividades reservadas"> View more </a>
    </div>
}

</div>